html, body, #root, .App {
    height: 100%;
}

#AppContainer {
    min-height: 100%;
    width: 100%;
}

main {
    min-height: 100%;
}

#sidebar {
    width: 300px;
    margin: 0px;
    padding: 0px;
    background-color: #3258a8;
    min-height: 100%;
}

.sidebar-link {
    display: block;
    padding: 0.25em 3em;
}

.sidebar-link.active {
}

.sidebar-link:link {
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: #4e75c7;
}